@import '../../styles/settings.scss';

.columnForm {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    padding: $base-size;
    margin: 0 $base-size $base-size $base-size;
    border: 0;
    border-radius: $radius;
  }

  label {
    padding: $base-size;
    margin: 0 $base-size $base-size $base-size;
  }
}

@media (max-width: 767px) {
  .columnForm {
    flex-direction: column;
  }
}